/* RESET  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON  */
html{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
    color: white;
}

img{
    width: 100%;
}

.clearfix::after{
    contain: "";
    display: table;
    clear: both;
}

.flex{
    display: flex;
}

.container{
    width: 100%;
    height: 100vh;
    overflow: hidden;

    /* TEST  */
    background-color: pink;
}

.cl-gry{
    color: grey;
}
/* MAIN  */
main{
    display: flex ;
    width: 100%;
    height: calc(100% - 100px);
    overflow: hidden;

      /* TEST  */
      background-color: violet;
}

/* SIDEBAR  */
.sidebar{
    float: left;
    width: 200px;
    height:100%;

    /* TEST  */
    background-color: lightblue;
}
/* LOGO  */
.logo{
    background-color: black;
    padding: 19px 10px;
}

/* Menu */
.menu{
    display: flex;
    flex-direction: column;
    background-color: black;
}

.menu img{
    width: 30px;
}

.menu-pdg{
    padding:4px 10px;
}

.menu-flex{
    display: flex;
    align-items: center;
}

.menu-fts{
    font-size: .7em;
}

.menu div:nth-child(3){
    padding-bottom:30px;
}

/* Playlist  */
.playlist{
    flex-grow: 1;
    background-color: black;
}

.playlist h2{
    font-size:.9em;
}

.playlist-btn{
    margin: .6em 0 ;
}

.playlist-a{
    color: inherit;
    text-decoration: none;
    align-items: center;
}

.playlist-i{
    font-size:2em;
}

.playlist-a-tx{
    margin-left: .5em;
}

.playlist ul{
    height: 80%;
    overflow: auto;
}

.playlist ul li{
    margin-bottom: .7em;
}

.sidebar-bottom{
    height: 80px;

    /* TREST */
    background-color: black;
}

@media screen and (max-width:600px) {

    .sidebar{
        width: 80px;

    }
    
}

/* SIDEBAR-BOTTOM  */
.sidebar-top{
    display: flex;
    flex-direction: column;
    height: calc(100% - 80px);
    min-height: 350px;

    /* TREST */
    background-color: pink;
}

.download-app{
    padding:.5em 0;
}

.download-app h6{
    margin-left:.9em;
}

.sidebar-bottom img{
    fill:grey;
    width: 14px;
}

.bdr{
    border: 1px solid grey;
    width: 11em;
}

.sidebar-bottom-author{
    margin-top: .7em;
    align-items: center;
}

.sidebar-bottom-author img{
    width: 20px;
    background-color: grey;
    border-radius: 50%;
    border: 22.5px;
}

.sidebar-bottom-author h4{
    color:white;
    margin-left: .5em;
}

/* CONTENT  */
.content{
    float: left;
    width: calc(100% - 200px);
    height: 100%;
    overflow-y:autos ;
    padding: 120px 20px 20px;
    /* TEST  */
    background-color: #141923;
}
 
/* CONTENT-CTA  */
.content-cta{
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 200px);
    height: 100px;
    background-color: rgba(0, 0, 0, .4);
}

@media screen and (max-width:600px) {
    .content{
    width: calc(100% - 80px);
    }

    .content-cta{
        width: calc(100% - 80px);

}
/* FOOTER  */
.footer{
    width: 100%;
    height: 100px;

      /* TEST  */
      background-color: violet;
}



/* ASIDE  */
/* .aside-bar{
    background-color: black;
    width: 200px;
    height: calc(100vh - 89px);
    display: inline-block;
} */

/* SECTION-MAIN  */
/* .section-main{
    border: 1px solid blue;
    float: right;
} */

/* HEADER  */
/* .header{
    background-color: #080b13;
    width: calc(100% - 200px);
    height: 60px; 
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
} 

.upgrade{
    color: inherit;
    text-decoration: none;
    font-size: .8em;
    border: 1px solid white;
    border-radius:25px;
    padding: .3em 1.9em;
} */

/* MAIN  */
/* .main{
    background-color: blue;
    width: calc(100vw - 202px);
    height: calc(100vh - 150px);
    margin-top: 59px;
    overflow: auto;
} */

/* FOOTER  */
/* .footer{
    background-color: #282828;
    width: 100%;
    height:90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */
    /* FOOTER LEFT  */
/* .footer-left{
    border: 1px solid red;
    margin-left: .7em;
    display: flex;
}

.footer-left img{
    width: 40px;
    height: 40px;
}

.footer-description{
    margin-left: .7em;
    border: 1px solid blue;
    width: 80px;
}

.erm{
    display: flex;
    align-items: center;
}

.footer-text-h{
    font-size: 1em;
}

.footer-text-s{
    color: #818181;
    font-size: .7em;
}

.footer-icon-1{
    margin-left: 2em;
}

.footer-icon-2{
    margin-left: .8em;
} */

/* FOOTER CENTER */
/* .footer-center{
    background-color: greenyellow;
    flex-direction:column;
}

.footer-right{
    background-color: rgb(247, 0, 255);
} */


