
:root{
    /* COLOR  */
    --color-btn:#c1c1c1;
    --color-truegrey:#5a5a5a;
    --color-white:white;
    --background-color:black;
    --color-border-hover:yellowgreen;


    /* SIZE  */
    --height-footer:100px;
}




/* RESET  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON  */
html{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
    color: var(--color-white);
}

img{
    width: 100%;
}

.clearfix::after{
    contain: "";
    display: table;
    clear: both;
}

.flex{
    display: flex;
}

.container{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    min-width: 500px;
}

.cl-gry{
    color: var(--color-truegrey);
}

.darkgrey{
    color: var(--color-btn);
}

/* MAIN  */
main{
    display: flex ;
    width: 100%;
    height: calc(100% - var(--height-footer));
    overflow: hidden;
}

/* SIDEBAR  */
.sidebar{
    float: left;
    width: 200px;
    height:100%;

    background-color: var(--background-color);
}
/* LOGO  */
.logo{
    background-color: var(--background-color);
    padding: 27px 35px;
}

.logo .logo-small-img{
    display: none;
}


@media screen and (max-width:600px) {

    .logo{
        padding: 19px 19px;
    }

    .logo .logo-img{
        display: none;
    }

    .logo .logo-small-img{
        display: block;
    }
}
/* Menu */
.menu{
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
}

.menu img{
    width: 30px;
}

.menu-pdg{
    padding:4px 10px;
}

.menu-flex{
    display: flex;
    align-items: center;
}

.menu-fts{
    font-size: .7em;
}

.menu-li{
    align-items: center;
    line-height: 3rem;
}

.menu-li 
img, 
h3{
    opacity: .4;
}

.menu-lit a{
    padding-left:1rem ;
}

.menu-border-2{
    border-left:1px solid var(--color-border-hover);
    background-color: var(--color-border-hover);
    width: .2rem;
    display: none;
}

.menu-lit:hover .menu-border-2{
    display: flex;
}

.menu-lit a:hover img{
    opacity: 1;
}

.menu-lit a:hover h3{
    opacity: 1;
}

.menu div:nth-child(3){
    padding-bottom:30px;
}

@media screen and (max-width:600px) {
    
    .menu .menu-lit{
        display: flex;
        flex-direction: column;
        margin-bottom: .5rem;
    }

    .menu .menu-lit a h3{
        display: none;
    }

    .menu .menu-lit a img{
        width: 35px;
    }

}

/* Playlist  */
.playlist{
    flex-grow: 1;
    background-color: var(--background-color);
    overflow: hidden;
}

.playlist h2{
    font-size:.9em;
}

.playlist-btn{
    margin: .6em 0 ;
}

.playlist-a{
    color: inherit;
    text-decoration: none;
    align-items: center;
}

.playlist .playlist-a:hover{
    color: var(--color-white);
}

.playlist ul li:hover{
    color: var(--color-white);
}

.playlist-i{
    font-size:2em;
}

.playlist-a-tx{
    margin-left: .5em;
}

.playlist ul{
    height: 80%;
    overflow: auto;
}

.playlist ul li{
    margin-bottom: .7em;
}

.sidebar-bottom{
    height: 80px;
    background-color: var(--background-color);
}

@media screen and (max-width:600px) {

    .sidebar{
        width: 80px;
    }

    .playlist{
        display: none;
    }
    
}

/* SIDEBAR-BOTTOM  */
.sidebar-top{
    display: flex;
    flex-direction: column;
    height: calc(100% - 80px);
    min-height: 350px;
}

.download-app{
    padding:.5em 0;
}

.download-app a:hover h6{
    opacity: 1;
}

.download-app a:hover img{
    opacity: 1;
}

.download-app h6{
    opacity: .4;
    margin-left:.9em;
}

.sidebar-bottom .download-app img{
    opacity: .4;
    width: 14px;
}

.bdr{
    border: 1px solid var(--color-truegrey);
    width: 11em;
}

.sidebar-bottom-author{
    margin-top: .7em;
    align-items: center;
}

.sidebar-bottom-author img{
    width: 20px;
    background-color: var(--color-btn);
    border-radius: 50%;
    display: inline-block;
    width: 25px;
    height: 25px;
}

.sidebar-bottom-author h4{
    color: var(--color-white);
    margin-left: .5em;
}

@media screen and (max-width:600px) {
    
    .sidebar-bottom h6, .bdr{
        display: none;
    }

    .sidebar-bottom h4{
        display: none;
    }

    .download-app{
        display: flex;
        justify-content: center;
    }

    .sidebar-bottom-author{
        display: flex;
        justify-content: center;
    }
   
}
/* CONTENT  */
.content{
    float: left;
    width: calc(100% - 200px);
    height: 100%;
    overflow-y:auto;
    padding: 120px 20px 20px;
    background-color: #141923;
}
 
/* CONTENT-CTA  */
.conteiner-cta{
    width: 195px;
    text-align: center;
}

.content-cta .upgrade:hover{
    font-size: .9rem;
    width: 195px;
}

.content-cta{
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 200px);
    height: 100px;
    background-color: rgb(0, 0, 0, .4);
    justify-content: flex-end;
    align-items: center;
}

.upgrade{
    color: inherit;
    text-decoration: none;
    font-size: .8em;
    border: 1px solid var(--color-white);
    border-radius:25px;
    padding: .3em 1.9em;
}

@media screen and (max-width:600px) {
    .content{
    width: calc(100% - 80px);
    }

    .content-cta{
        width: calc(100% - 80px);
    }
}

/* Content  */
.content-menu-row{
    justify-content: center;   
    height: 60px;
}

.content-menu{
    width: 800px;
}

.content-menu ul{
    flex-wrap: wrap;
    justify-content: center;
}

.content-menu ul li{
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin: 1rem;
    color: var(--color-truegrey);
    font-size: .9rem;
}

.content-menu ul li div{
    display: none;
   border: 1px solid var(--color-border-hover);
   width: 40%;
}

.content-menu ul li:hover div{
    display: inline-block;
   border: 1px solid var(--color-border-hover);
   width: 40%;
}

.content-menu ul li a{
    text-decoration: none;
    color: inherit;
}

.content-menu li a:hover{
    color: var(--color-white);
}

.recently-played{
    margin-bottom: 2rem;
}

/* albums-row  */
.albums-row{
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.albums-row img{
    width: 100%;
}

.albums-items{
    width: calc(100% / 6 - 5px);
    margin-right: 5px;
    position: relative;
    cursor: pointer;
}

.albums-items .cover-img{
    position: relative;
}

.albums-items .cover-img img{ /* Così non compare .cover-img-overlay sotto la img, ma rimane allo stesso livello della foto */
    display: block;
    width: 100%;
}

.albums-items .cover-img .cover-img-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    color: var(--color-white);
    display: none;
}

 .cover-img:hover  .cover-img-overlay{
    display: flex;
}

.albums-items,
.john-doe-albums-items h4{
    text-align: center;
    font-size:.8rem;
}

.albums-items div{
    text-align: center;
    color: var(--color-truegrey);
    font-size:.7rem;
}

@media screen and (max-width:1100px){
    .albums-items{
        width: calc(100% / 4 - 5px);
    }
}

@media screen and (max-width:600px) {
    .albums-items{
        width: calc(100% / 2 - 5px);
    }
}

/* john-doe  */

.john-doe h3 {
    margin-bottom: .4rem;
}

.john-doe .john-doe-subtitile {
    color: var(--color-truegrey);
    font-size:.7rem;
    margin-bottom: 1.3rem;
}

.john-doe-albums-items{
    width: calc(100% / 6 - 5px);
    margin-right: 20px;
    cursor: pointer;
    margin-bottom: 3rem;
}

.john-doe-albums-items img{
    width: 100%;
}

.john-doe-albums-items .cover-img{
    position: relative;
}

.john-doe-albums-items .cover-img img{  /* Così non compare .cover-img-overlay sotto la img, ma rimane allo stesso livello della foto */
    display: block;
    width: 100%;
}

.john-doe-albums-items .cover-img .cover-img-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    color:  var(--color-white);
    display: none;
}

.cover-img:hover  .cover-img-overlay{
    display: flex;
}

.circle-border{
    border: 1px solid #141923 ;
    border-radius: 50%;
}

.john-doe-albums-items .cover-img .cover-img-overlay-circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .4);
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    color: var(--color-white);
    display: none;
}

.cover-img:hover  .cover-img-overlay-circle{
    display: flex;
}
/* FOOTER  */

.footer{
    width: 100%;
    height: var(--height-footer);
    background-color: #282828;
    justify-content: space-between;
    align-items: center;
}

.album{
    width: 250px;
    align-items: center;
    justify-content: space-between;
    padding:0 10px ;
}

.album-cover{
    width: 20%;
}

.album-title{
    width: 50%;
}

.album-title h4{
   font-size: 1rem;
   color: var(--color-white);
}

.album-title p{
    font-size: .8rem;
    color: var(--color-truegrey);
   
}

a{
    color: inherit;
    text-decoration: none;
}

.album-title a:hover{
    text-decoration: underline;
    color: var(--color-white);
}

/* .album-icons{ */
    /* width: 30%; */ /* Viene tolto cosi lasciamo lo spazio per centrare tutto */

.album-icons i{
    margin-left: 10px;
    color: var(--color-truegrey);
}

.album-icons a i:hover{
    color: var(--color-white);
}

/* Controls  */
.controls{
    width: 35%;
    height: 100%;
}

.controls-buttons{
    width: 100%;
    height: 60%;
}

.controls-buttons ul{
    justify-content: center;
    align-items: center;
    height: 100%;
}

.controls-buttons li{
   margin:0 10px;
   font-size: 1.2rem;
   cursor: pointer;
}

.controls-buttons .control-play{
    font-size: 2rem;
    margin: 0 15px;
    width: 50px;
    text-align: center;
}

.controls-buttons .control-play:hover{
   font-size: 2.4rem;
   width: 50px;
}

.controls-time{
    justify-content:space-between;
    align-items: center;
    width: 100%;
}

.control-time-min{
    color: var(--color-truegrey);
    font-size: .8rem;
}
/* Audio  */
.audio{
    width: 250px;
    height: 100%;
}

.audio ul{
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.list-menu li{
   list-style: none;
}

.audio .audio-control{
    width: 70%;
    align-items: center;
    justify-content: space-between;
}

/* Control-bar  */
.control-bar{
    width: 80%;
    height: 4px;
    background-color: var(--color-truegrey);
    border-radius: 5px;
    cursor: pointer;
}

.control-bar .control-bar-overlay{
    height: 100%;
    width: 20%;
    background-color:var(--color-white) ;
    border-radius: 5px;
    position: relative;
}

.control-bar-circle{
    display: none;
    position: absolute;
    top: 50%;
    right: 0;
    width: 15px;
    height: 15px;
    background-color: var(--color-white);
    border-radius: 50%;
    transform: translateY(-50%);
}

.control-bar:hover .control-bar-overlay{
    background-color: var(--color-border-hover);
}

.control-bar:hover .control-bar-circle{
    display: inline-block;
}



    

